NODE_ENV = "production" # development | production
PROTOCOL = "http" # http | https
HOST = "localhost" 
PORT = 3000 
KEY = "./certificates/key.pem" 
CERT = "./certificates/cert.pem"

COOKIE_SECRET = "cookieSecretWord"
JWT_SECRET = "jwtSecretWord"
JWT_EXPIRE = "1w" # 1w= una semana | 1d= un dia | 1h= una hora

CORS = { origin: "*", methods: ["GET, POST, PUT, DELETE, OPTIONS"] }

DB_MODE = "mongoDB" 
MONGOOSE_URI = "mongodb://localhost:27017/dev" 

GEMINI_API_KEY = "geminiApiKey"

EMAIL_HOST = "smtp.gmail.com"
EMAIL_PORT = 465
EMAIL_SECURE = true
EMAIL_USER = "user@gmail.com"
EMAIL_PASS = "password"